{% extends "blog_base.html" %}
{% block content %}
    <article>
        <div class="add_form">
           {{ form.media }}
         </div>
            <form action="/blog/post/add/" method="post">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
            <input type="submit" value="Submit" />
            <input type="button" name="Cancel" value="Cancel" onclick="window.location = '/blog/' " />
            </form>
    </article>
{% endblock %}