{% extends "blog_base.html" %}
{% block content %}
    <article>
        <h1>{{ user.username|capfirst }} Profle</h1>

        <div class="profile_form">
            <form action="/blog/profile/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
           	 <input type="submit" value="Submit" />
           	 <input type="button" name="Cancel" value="Cancel" onclick="window.location = '/blog/' " />
   	    </form>
    	</div>
    </article>
{% endblock %}