<div class="loading-ajax" style="display: none;" xmlns="http://www.w3.org/1999/html">
    <img src="{{ STATIC_URL }}img/ajax-loader.gif"/>
</div>
<div class='loginform' style="display: none">
    <div class="login_errors" style="display: none"></div>
    <table>
        <tr>
            <th>
                <label for="id_username">Username:</label>
            </th>
            <th>
                <input id="id_username" name="username" type="text" size="9">
            </th>
        </tr>
        <tr>
            <th>
                <label for="id_password">Password:</label>
            </th>
            <th>
                <input id="id_password" name="password" type="password" size="9">
            </th>
        </tr>
    </table>
    <button id="sign_in">Sign in</button>
    <button class="login_cancel">Cancel</button>
</div>
<button class="login">Sign in</button> <button class="sign_up">Sign up</button>
