<div class="pagination">
    {% if posts.has_previous %}
        <a href="/blog/page/1"><b>First</b></a>
        <a href="/blog/page/{{ posts.previous_page_number }}"><b>Prev</b></a>
    {% endif %}
    {% if posts.number != None %}
        <span>
            Page {{ posts.number }} of {{ posts.pages }}
        </span>
    {% endif %}
    {% if posts.has_next %}
        <a href="/blog/page/{{ posts.next_page_number }}"><b>Next</b></a>
        <a href="/blog/page/{{ posts.pages }}"><b>Last</b></a>
    {% endif %}
</div>