{% if user.is_authenticated %}
    <div class="profile">
        Welcome back, <b>{{ user.username|capfirst }}</b>
        {% if user.profile.userpic %}
            <img src="{{ MEDIA_URL }}{{ user.profile.userpic }}"/>
        {% else %}
            <img src="{{ STATIC_URL }}img/no-photo.png"/>
        {% endif %}
        <div class="actions">
            <a href="/admin/" target="_blank">Admin area</a><br/>
            {% if perms.blog.add_post %}
                <a href="/blog/post/add/">Add post</a>
            {% endif %}
            <form method="post" action="{% url 'blog.views.log_out' %}">
                {% csrf_token %}
                <button type="submit">Sign out</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
{% else %}
    <p>Welcome, <b>Guest</b>. Please Sign in.</p>
    {% include "blocks/login_form.html" %}
{% endif %}